@keyframes blink {
    0%, 49%, 100% {
      opacity: 1;
    }
    50%, 99% {
      opacity: 0;
    }
  }
  
  .blinking-text {
    animation: blink 1s infinite; /* Adjust the animation duration as needed */
  }
    .bg-white.rounded-md.shadow-lg.overflow-hidden.mt-4.border-4.border-r-8.ml-1.mr-2.mb-2{
    margin-bottom: 1%;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
  } 


  @media screen and (max-width: 768px){
    .bg-white.rounded-md.shadow-lg.overflow-hidden.mt-4.border-4.border-r-8.ml-1.mr-2.mb-2{
      margin-bottom: 1%;
      table-layout: fixed;
      width: 100%;
      overflow: hidden;
      padding-right: 10%;
      
      
    } 

  }

   
  
  