.dot-green {
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }
  
.dot-red {
width: 12px;
height: 12px;
background-color: red;
border-radius: 50%;
display: inline-block;
}

@media screen and (max-width: 768px){

  .w-1\/3{
    width: 100%;
    margin-left: -5vw;
    margin-right: -10px;
  }
  .w-1\/2{
    width: 100%;
    margin-left: -5vw;
    margin-right: -10px;
  }
}
